#####################################################################
#   Bed Mesh Definition
#####################################################################

[bed_mesh]
mesh_min: 40,40
mesh_max: 260,260
zero_reference_position: 150,150
speed: 300
horizontal_move_z: 5
probe_count: 5,5
algorithm: bicubic
fade_start: 0.5
fade_end: 10
fade_target: 0
move_check_distance: 3
split_delta_z: 0.0125
mesh_pps: 2,2
bicubic_tension: 0.4
adaptive_margin: 5