[mcu]
#serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_210002000D51323532343932-if00
canbus_uuid: 351e992fd2a9

[mcu EBBCan]
#serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
canbus_uuid: 66a21c4f842d