[printer]
kinematics: corexy
max_velocity: 600  
max_accel: 15000     	   	  
max_z_velocity: 30 			   
max_z_accel: 300   			    
square_corner_velocity: 10


[force_move]
enable_force_move: True

[exclude_object]

[gcode_arcs]
resolution = 0.1

[idle_timeout]
# only turn off motors and heaters if the printer is not paused
gcode:
   {% if printer.pause_resume.is_paused %}
     SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=idle_state VALUE=True
     {action_respond_info("Idle Timeout: Extruder powered down")}
     M104 S0   ; Set Hot-end to 0C (off)
   {% else %}
     {action_respond_info("Idle Timeout: Stepper and Heater powered down")}
     TURN_OFF_HEATERS
     M84
   {% endif %}
timeout: 3600