#####################################################################
# 	BTT Smart Filament Sensor V2.0
#####################################################################
[filament_switch_sensor switch_sensor]
switch_pin: ^PA2
pause_on_runout: False
runout_gcode:
  RUN_OUT
  RESPOND MSG="Filament switch runout!!"
insert_gcode:
  RESPOND MSG="Filament switch inserted"


[filament_motion_sensor encoder_sensor]
switch_pin: ^PA1
detection_length: 2.88
extruder: extruder
pause_on_runout: False
runout_gcode:
  RUN_OUT
  RESPOND MSG="Filament encoder runout!!"
insert_gcode:
  RESPOND MSG="Filament encoder inserted"
  
  
#####################################################################
# 	Temperature Sensors
#####################################################################
[temperature_sensor EBB_NTC]
sensor_type: Generic 3950
sensor_pin: EBBCan:PA2

[temperature_sensor rPi_CPU]
sensor_type: temperature_host
min_temp: 0
max_temp: 150
gcode_id: PI

[temperature_sensor main_mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 150

## 	Thermistor Types
##   "EPCOS 100K B57560G104F"
##   "ATC Semitec 104GT-2"
##   "NTC 100K beta 3950"
##   "Honeywell 100K 135-104LAG-J01"
##   "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
##   "AD595"
##   "PT100 INA826"