#####################################################################
# 	X Stepper Settings
#####################################################################

[stepper_x]
step_pin: PE11
dir_pin: PE10
enable_pin: !PE9

rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200

endstop_pin: tmc2209_stepper_x:virtual_endstop
#use_sensorless_homing: true
homing_positive_dir: true
homing_speed: 110
min_home_dist: 40
homing_retract_dist: 40
position_min: 0
position_max: 301
position_endstop: 301

[tmc2209 stepper_x]
uart_pin: PE7
diag_pin: ^PB14

interpolate: True
run_current: 1.0
home_current: 0.7
sense_resistor: 0.110

[autotune_tmc stepper_x]
motor: omc-17hs19-2004s1
sg4_thrs: 155
extra_hysteresis: 1
tbl: 3

#####################################################################
# 	Y Stepper Settings
#####################################################################

[stepper_y]
step_pin: PD8
dir_pin: PB12
enable_pin: !PD9

rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200

endstop_pin: tmc2209_stepper_y:virtual_endstop
#use_sensorless_homing: true
homing_positive_dir: true
homing_speed: 110
min_home_dist: 40
homing_retract_dist: 40
position_min: 0
position_max: 310
position_endstop: 310

[tmc2209 stepper_y]
uart_pin: PE15
diag_pin: ^PB13

interpolate: True
run_current: 1.0
home_current: 0.7
sense_resistor: 0.110

[autotune_tmc stepper_y]
motor: omc-17hs19-2004s1
sg4_thrs: 157
extra_hysteresis: 1
tbl: 3