#####################################################################
# 	Z Auto Calibration
#####################################################################

[z_calibration]
nozzle_xy_position: 204,303
switch_xy_position: 204,278
switch_offset: 0.395
offset_margins: 3
speed: 300
probing_first_fast: true
start_gcode: ATTACH_PROBE
end_gcode: DETACH_PROBE