#####################################################
### ADVANCED FILAMENT SWAP by JACKSON92 #############
#####################################################
# Github: https://github.com/92jackson/mainsail-advanced-filament-swap
# Discord: https://discord.gg/e3eXGTJbjx
#####################################################
# This script provides guided M600 (filament change)
# for Mainsail (poss also compatible with Fluidd??)
#####################################################
# This script was inspired by Jay Lexx's MOM script
#####################################################
#####################################################
#
#
############################################
###--- SETUP ---############################
############################################
#
# STEP 1: Connect to your printer via SFTP
# STEP 2: Save this file in your config folder (i.e: home/pi/klipper_config/adv_filament_swap.cfg)
# STEP 3: Override index.html in /home/pi/mainsail with the one included with this script
# STEP 4: Include this file in your printer.cfg (i.e [include adv_filament_swap.cfg])
# OPTIONAL: Tweak any of the default values below in [ADVPAUSE_CFG] as required - from line #120
# OPTIONAL: Point your run-out pin to RUN_OUT in your printer.cfg
#
############################################
###--- USAGE IN CURA ---####################
############################################
# STEP 1) Extensions > Post Processing > Modify G-Code
# STEP 2) Add a script -> Filament Change
# STEP 3) Set "Layer" to the layer number you want the switch to occur
# STEP 4) Repeat Step 3 for however many changes you require (:
#
# N.B. You can also manaually send FILAMENT_SWAP in the console to
# trigger a filament swap.
#
############################################
###--- MACRO DESCRIPTIONS ---###############
############################################ 
#
# [ADVPAUSE_CFG]
# Runs M600/run out/load/unload/finish events
#
# [M600]
# Filament change code sent by slicer
#
# [RUN_OUT]
# ***Point your run-out pin to this macro in your printer.cfg***
#
# [FILAMENT_SWAP]
# Send this manually if you'd like to trigger a manual
# filament swap
#
# [LOAD_NEW]
# Purge long - new filament. Sent by the pop-up alerts.
#
# [PURGE_EXTRA]
# Purge short - new filament. Sent by the pop-up alerts.
#
# [FINISH_SWAP]
# Ends the filament swap process and resumes the print.
# Sent by the pop-up alerts.
#
# [PUSH_UPDATE]
# Handles messages sent to the console which are then read by my
# Alert generator in the replacement index.html
#
# [PAUSE] and [RESUME]
# Handles the actual pausing and resuming of the running print
#
# [M125]
# Park head
#
# [M701]
# Load filament
#
# [M702]
# Unload filament
#
# [LOW_TEMP_CHECK T]
# Heat up process & temperature processor
# uses printer’s [extruder] section max_temp & min_extrude_temp
#
# [IGNORE_M600 RESET=True]
# [IGNORE_M600] can be sent to the console during a print to ignore
# accidental M600 commands. Use RESET=True flag to listen to M600 commands again.
# Does not affect [RUN_OUT] or manual use of [FILAMENT_SWAP]
#
# [MAKE_NOISE]
# Plays sounds for M600 and [RUN_OUT] events. You can also add: 
# MAKE_NOISE SOUND='END' to your print finish macro, enjoy (:
#
# [SILENT] silences [MAKE_NOISE] commands
# [SILENT RESET=True] resets [SILENT] commands

[gcode_macro ADVPAUSE_CFG]

variable_temperature: 0
variable_curralertcount : 0
variable_ispaused : 0
variable_swapping : 0
variable_ignore_m600 : 0
variable_act_z_restore: 0

gcode:
	{% set NEWJOB = params.NEWJOB|default(6000)|int %}

	{% set curralertcount = printer.save_variables.variables.alertcount %}
	{% if curralertcount == null %}
		{% set curralertcount = 0 %}
	{% endif %}

	{% if NEWJOB == 5998 %}
		#Ignore run-out sensor if already swapping filament
		{% if swapping == 0 %}
			{% set curralertcount = curralertcount +1 %}
			SAVE_VARIABLE VARIABLE=alertcount VALUE={curralertcount}

			Prompt_RunOut
      
			PAUSE_ADV
			{% if cooldown|int == 1 %}
				M104 S0
			{% endif %}
	
		{% endif %}
	{% endif %}

	{% if (NEWJOB == 600 or NEWJOB == 6000) %}
		SET_GCODE_VARIABLE MACRO=ADVPAUSE_CFG VARIABLE=swapping VALUE=1
		{% set curralertcount = curralertcount +1 %}
		SAVE_VARIABLE VARIABLE=alertcount VALUE={curralertcount}
    
        Prompt_Unloading    
    
		PAUSE_ADV

		LOW_TEMP_CHECK T={temperature}
		UNLOAD_FILAMENT

		{% set curralertcount = curralertcount +1 %}
		SAVE_VARIABLE VARIABLE=alertcount VALUE={curralertcount}

        Prompt_Swap

		{% if (NEWJOB == 600 and cooldown|int == 1) %}
			M104 S0
		{% endif %}

	{% endif %}

	{% if (NEWJOB == 6001 or NEWJOB == 6002) %}
		{% if NEWJOB == 6001 %}
			LOAD_FILAMENT
		{% else %}
	  		LOAD_EXTRA
		{% endif %}

		Prompt_Purge
	{% endif %}

	{% if NEWJOB == 5999 %}
		Prompt_SwapComplete
    
		{% if temperature == 0 %}
			M109 S0
		{% else %}
			M109 S{temperature}
		{% endif %}
    
        NOZZLE_WIPE
        RESPOND TYPE=command MSG="action:prompt_end"
		RESUME_ADV
	{% endif %}



##################
[gcode_macro M600]
##################
description: Filament change
gcode:
	{% if printer["gcode_macro ADVPAUSE_CFG"].ignore_m600 == 0 %}
		ADVPAUSE_CFG NEWJOB=600
	{% endif %}


#####################
[gcode_macro RUN_OUT]
#####################

# Point your run-out pin to this macro in your printer.cfg
description: Trigger a run-out alert
gcode:
  {% if printer["gcode_macro ADVPAUSE_CFG"].swapping == 0 %}
	ADVPAUSE_CFG NEWJOB=5998	# Run-out
  {% else %}
	M118  "error: Already running M600!"
  {% endif %}


###########################
[gcode_macro FILAMENT_SWAP]
###########################

description: Triggers a change of filament
gcode:
  	ADVPAUSE_CFG NEWJOB=6000	# Starts manual swap


######################
[gcode_macro LOAD_NEW]
######################

description: Purges 130mm of filament
gcode:
	ADVPAUSE_CFG NEWJOB=6001	# Load filament


#########################
[gcode_macro PURGE_EXTRA]
#########################

description: Purges 20mm of filament (use when reloading the same colour or when there's only a tiny bit of old colour still bleeding through the new)
gcode:
	ADVPAUSE_CFG NEWJOB=6002	 # Purge 20mm


#########################
[gcode_macro FINISH_SWAP]
#########################

description: Finish the filament change and resume print
gcode:
	ADVPAUSE_CFG NEWJOB=5999	# Resume print


###################
[gcode_macro PAUSE_ADV]
###################

description: Pause the actual running print
gcode:
	{% if printer["gcode_macro ADVPAUSE_CFG"].ispaused|int == 0 %}
		SET_GCODE_VARIABLE MACRO=ADVPAUSE_CFG VARIABLE=temperature VALUE={printer.extruder.target}
		PAUSE X={printer["gcode_macro _CLIENT_VARIABLE"].purge_x|int} Y={printer["gcode_macro _CLIENT_VARIABLE"].purge_y|int} Z_MIN=20
    M125
	{% endif %}

	SET_GCODE_VARIABLE MACRO=ADVPAUSE_CFG VARIABLE=ispaused VALUE=1


####################
[gcode_macro RESUME_ADV]
####################

description: Resume the actual running print
gcode:
  {% set z_resume = printer["gcode_macro ADVPAUSE_CFG"].act_z_restore + 5.0 %}
	SET_GCODE_VARIABLE MACRO=ADVPAUSE_CFG VARIABLE=ispaused VALUE=0
	SET_GCODE_VARIABLE MACRO=ADVPAUSE_CFG VARIABLE=swapping VALUE=0
  G90
  G1 Z{z_resume}
	RESUME


##################
[gcode_macro M125]
##################

gcode:
	# if  not yet homed
	{% if printer.toolhead.homed_axes != "xyz" %}
		RESPOND MSG="Homing the print head"
		G28
	{% endif %}
	
	##### set park positon for x,y,z #####
	# default is your max posion from your printer.cfg
	{% set x_swap = printer.toolhead.axis_maximum.x|float - 2.0 %}
	{% set y_swap = printer.toolhead.axis_maximum.y|float - 2.0 %}
	{% if printer["gcode_macro _CLIENT_VARIABLE"].purge_x != 0 %}
		{% set x_swap = printer["gcode_macro _CLIENT_VARIABLE"].purge_x %}
	{% endif %}
	{% if printer["gcode_macro _CLIENT_VARIABLE"].purge_y != 0 %}
		{% set y_swap = printer["gcode_macro _CLIENT_VARIABLE"].purge_y %}
	{% endif %}
  {% set z_swap = printer["gcode_macro _CLIENT_VARIABLE"].purge_z %}
  
  {% set act_z = printer.toolhead.position.z|float %}
  SET_GCODE_VARIABLE MACRO=ADVPAUSE_CFG VARIABLE=act_z_restore VALUE={act_z}
	##### end of definitions #####

	RESPOND MSG="Parking the print head in the swap position"

	G90
	G1 X{x_swap} Y{y_swap} F{printer["gcode_macro _CLIENT_VARIABLE"].speed_move|int * 60}
  G1 Z{z_swap}
  

##################
[gcode_macro LOAD_EXTRA]
##################
# Purge extra filament
gcode:
	M83
	G92 E0.0
	LOW_TEMP_CHECK
	
	RESPOND MSG="Purging an extra 20mm of filament ..."
	G1 E{printer["gcode_macro _CLIENT_VARIABLE"].purge_dist|int} F{printer["gcode_macro _CLIENT_VARIABLE"].load_spd|int * 60}
	
	# Retract a little to prevent ooze
	G1 E-{printer["gcode_macro _CLIENT_VARIABLE"].retract} F{printer["gcode_macro _CLIENT_VARIABLE"].speed_retract|int * 60}
	G92 E0.0

	# Wait 20s to make sure all G1 moves have completed before moving on. Poss bug with klipper moving on to next command before last G1 completed(?)
	G4 S20

##################
[gcode_macro LOAD_FILAMENT]
##################
# Load filament
gcode:
	M83
	G92 E0.0
	LOW_TEMP_CHECK
	
	RESPOND MSG="Loading 150mm of new filament ..."
	G1 E{printer["gcode_macro _CLIENT_VARIABLE"].preload_new|int} F{printer["gcode_macro _CLIENT_VARIABLE"].preload_spd|int * 60}
    G1 E{printer["gcode_macro _CLIENT_VARIABLE"].load_new|int} F{printer["gcode_macro _CLIENT_VARIABLE"].load_spd|int * 60}
	
	# Retract a little to prevent ooze
	G1 E-{printer["gcode_macro _CLIENT_VARIABLE"].retract} F{printer["gcode_macro _CLIENT_VARIABLE"].speed_retract|int * 60}
	G92 E0.0

	# Wait 20s to make sure all G1 moves have completed before moving on. Poss bug with klipper moving on to next command before last G1 completed(?)
	G4 S20


##################
[gcode_macro UNLOAD_FILAMENT]
##################
# Unload filament
gcode:
	LOW_TEMP_CHECK
	RESPOND MSG="Unloading your filament ..."

	_FILAMENT_BALL
    G91
	# Unload
	G1 E-{printer["gcode_macro _CLIENT_VARIABLE"].unload|int} F{printer["gcode_macro _CLIENT_VARIABLE"].unload_speed|int * 60}
	G92 E0.0
	G90
	
	# Wait 20s to make sure all G1 moves have completed before moving on. Poss bug with klipper moving on to next command before last G1 completed(?)
	G4 S20

############################
[gcode_macro _FILAMENT_BALL]
############################

gcode:
  # Ball up the filament tip
  G92 E0       ; Zero the extruder
  M82          ; Absolute extrusion
  G92 E0
  G1 E2 F3600
  G1 E0 F3600
  G1 E4 F3600
  G1 E0 F3600
  G1 E8 F3600
  G1 E0 F3600
  M83            ; Relative extrusion
  G1 E-25 F3600
  G4 S5

############################
[gcode_macro LOW_TEMP_CHECK]
############################

gcode:
	{% if not params.OVERRIDE is defined %}
		  {% if params.T is defined %}
				{% set TMP=params.T|int%}
				{% if printer.configfile.config.extruder.max_temp is defined %}
					{% if params.T|int>printer.configfile.config.extruder.max_temp|int %}
						{% set TMP=printer["gcode_macro _CLIENT_VARIABLE"].default_temp|int %}
					{% endif %}
				{% endif %}
				{% if TMP|int==0 %}
				{% set TMP=printer["gcode_macro _CLIENT_VARIABLE"].default_temp|int %}
		  {% endif %}
	 {% else %}
		  {% set TMP=printer["gcode_macro _CLIENT_VARIABLE"].default_temp|int %}
		  {% if printer["gcode_macro ADVPAUSE_CFG"].temperature|int > 0 %}
				{% set TMP=printer["gcode_macro ADVPAUSE_CFG"].temperature %}
		  {% endif %}
	 {% endif %}

	 {% if printer.configfile.config.extruder.min_extrude_temp is defined %}
		  {% if TMP|int<printer.configfile.config.extruder.min_extrude_temp|int %}
				{% set TMP=printer["gcode_macro _CLIENT_VARIABLE"].default_temp %}
		  {% endif%}
	 {% endif %}
	 {% else %}
		  {% if params.T is defined %}
				{% set TMP=params.T|int %}
		  {% else %}
				{% set TMP=printer["gcode_macro _CLIENT_VARIABLE"].default_temp %}
		  {% endif %}
	 {% endif %}

	  # If extruder is hot enough/within -5 degrees celsius of the set temperature
	 {% if (printer.extruder.temperature|int + 5) >= TMP|int %}
		 RESPOND MSG="The hotend's temperature is set to {TMP}oC"
		 M104 S{TMP}
	{% else %}
		 RESPOND MSG="Heating the hotend to {TMP}oC"
         STATUS_HEATING
		 M109 S{TMP}
	{% endif %}


#########################
[gcode_macro IGNORE_M600]
#########################

description: Ignore accidental M600 commands during print
gcode:
	{% if params.RESET is defined %}
		SET_GCODE_VARIABLE MACRO=ADVPAUSE_CFG VARIABLE=ignore_m600 VALUE=0
		M118 Listening for M600 commands
	{% else %}
		SET_GCODE_VARIABLE MACRO=ADVPAUSE_CFG VARIABLE=ignore_m600 VALUE=1
		M118 Ignoring M600 commands
	{% endif %}


##################
[gcode_macro M300]
##################

gcode:
	# Use a default 1kHz tone if S is omitted.
	{% set S = params.S|default(1000)|int %}
	# Use a 10ms duration is P is omitted.
	{% set P = params.P|default(100)|int %}
	SET_PIN PIN=_BEEPER VALUE=0.85 CYCLE_TIME={ 1.0/S if S > 0 else 1 }
	G4 P{P}
	SET_PIN PIN=_BEEPER VALUE=0


####################
[gcode_macro SILENT]
####################
gcode:
	{% if params.RESET is defined %}
		SET_GCODE_VARIABLE MACRO=MAKE_NOISE VARIABLE=make_silent VALUE=False
		M118 Listening for MAKE_NOISE commands
	{% else %}
		SET_GCODE_VARIABLE MACRO=MAKE_NOISE VARIABLE=make_silent VALUE=True
		M118 Ignoring MAKE_NOISE commands
	{% endif %}


########################
[gcode_macro MAKE_NOISE]
########################
description: Output tunes
variable_make_silent: False

gcode:
	{% if make_silent != True %}
		{% if params.SOUND == 'END' %}
			M300 P251 S784							; Cake?
			M300 P249 S740
			M300 P249 S659
			M300 P252 S659
			M300 P267 S740
			M300 P250 S294
			M300 P249 S370
			M300 P251 S294
			M300 P251 S247
			M300 P249 S294
			M300 P249 S370
			M300 P252 S294
			M300 P267 S220
			M300 P250 S294
			M300 P249 S370
			M300 P251 S440
			M300 P251 S784
			M300 P249 S740
			M300 P249 S659
			M300 P252 S659
			M300 P267 S220
			M300 P250 S740
			M300 P249 S370
			M300 P251 S294
			M300 P251 S587
			M300 P249 S294
			M300 P249 S659
			M300 P252 S440
			M300 P267 S220
			M300 P250 S294
			M300 P249 S370
			M300 P251 S294
			M300 P251 S247
			M300 P249 S294
			M300 P249 S370
			M300 P252 S440
			M300 P267 S659
			M300 P250 S330
			M300 P249 S740
			M300 P251 S784
			M300 P251 S247
			M300 P249 S330
			M300 P249 S659
			M300 P252 S554
			M300 P267 S220
			M300 P250 S587
			M300 P249 S392
			M300 P251 S330
			M300 P251 S659
			M300 P249 S330
			M300 P249 S440
			M300 P252 S440
			M300 P267 S220
			M300 P498 S740
		{% elif params.SOUND == 'RUN_OUT' %}
			M300 S900 P300
			M300 S900 P300
			M300 S900 P300
			M300 S900 P300
			M300 S900 P300
			M300 S900 P300
			M300 S900 P300
			M300 S900 P300
			M300 S900 P300
			M300 S900 P300
			M300 S900 P300
			M300 S900 P300
			M300 S900 P300
			M300 S900 P300
		{% elif params.SOUND == 'FILAMENT_SWAP' %}
			M300 S900 P300
			M300 S900 P300
			M300 S900 P300
			M300 S900 P300
			M300 S900 P300
			M300 S900 P300
			M300 S900 P300
			M300 S900 P300
			M300 S900 P300
			M300 S900 P300
			M300 S900 P300
			M300 S900 P300
			M300 S900 P300
			M300 S900 P300
		{% endif %}
	{% endif %}