#####################################################################
# Bed mesh calibrate
#####################################################################

[gcode_macro BED_MESH_CALIBRATE]
rename_existing: _BED_MESH_CALIBRATE
gcode:
    
    {% set scv   = printer.configfile.settings.printer.square_corner_velocity | int %}
    {% set accel = printer.configfile.settings.printer.max_accel              | int %}
       
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={accel / 1000}
    
    _BED_MESH_CALIBRATE {rawparams}
    
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={scv}
    
[gcode_macro MESH_STORE]
gcode:
  RESPOND MSG="Bed Mesh Calibrate and Save"
  BED_MESH_CALIBRATE
  BED_MESH_PROFILE SAVE=Voron-Bed_Temp-{printer.heater_bed.target|int}C
  BED_MESH_PROFILE REMOVE=default
  # Move to Middle
  G90                    ; set absolute
  G0 Z7.5 F900           ; lift nozzle
  G0 X150 Y150 Z30 F7200 ; move to middle
  RESPOND MSG="MESH: Save Config!"
  SAVE_CONFIG
  
  
[gcode_macro MESH_LOAD]
gcode:
  {% set bed_temp = printer.heater_bed.target|int %}
  {% if printer.configfile.config["bed_mesh Voron-Bed_Temp-" + bed_temp|string + "C"] is defined %}
    BED_MESH_CLEAR
    BED_MESH_PROFILE LOAD=Voron-Bed_Temp-{printer.heater_bed.target|int}C
    RESPOND MSG="{"MESH: Voron-Bed_Temp-" + bed_temp|string + "C loaded"}"
  {% else %}
    RESPOND MSG="{"MESH ERROR: Voron-Bed_Temp-" + bed_temp|string + "C not defined"}"
  {% endif %}