#####################################################################
# Conditional Home
#####################################################################

[gcode_macro _CG28]
gcode:
  {% if "xyz" not in printer.toolhead.homed_axes %}
    STATUS_HOMING
    RESPOND MSG="Going to home all axes..."
    G28
  {% endif %}
  STATUS_READY

#####################################################################
# Homing Override
#####################################################################

[homing_override]
axes: xyz
set_position_z: 0
gcode:
  {% set z_endstop_x = printer["gcode_macro _CLIENT_VARIABLE"].z_endstop_x %}
  {% set z_endstop_y = printer["gcode_macro _CLIENT_VARIABLE"].z_endstop_y %}
  {% set spd_xy = printer["gcode_macro _CLIENT_VARIABLE"].speed_move|int %}
  {% set spd_z = printer["gcode_macro _CLIENT_VARIABLE"].speed_hop|int %}
  {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}

  SET_KINEMATIC_POSITION Z=1 SET_HOMED=Z
  G1 Z4 F1200
  
  {% if home_all or 'X' in params %}
    _HOME_X
  {% endif %}

  {% if home_all or 'Y' in params %}
    _HOME_Y
  {% endif %}

  {% if home_all or 'Z' in params %}
    RESPOND MSG="Homing Z..."
    G90
    G0 X{z_endstop_x} Y{z_endstop_y} F{spd_xy * 60}
    M400
    G28 Z
    G0 Z10 F{spd_z * 60}
    PARKBED
  {% endif %}
  STATUS_READY


[gcode_macro _HOME_X]
gcode:
    SET_KINEMATIC_POSITION X=30 SET_HOMED=X
    G91
    G1 X-30 F1200
    RESPOND MSG="Homing X..."
    M400 
    G28 X
    # Move away
    G91


[gcode_macro _HOME_Y]
gcode:
    SET_KINEMATIC_POSITION Y=30 SET_HOMED=Y
    G91
    G1 Y-30 F1200
    RESPOND MSG="Homing Y..."
    M400 
    G28 Y
    # Move away
    G91