#####################################################################
# 	Park Positions Macros
#####################################################################

[gcode_macro PARKFRONT]
gcode:
  {% set spd = printer["gcode_macro _CLIENT_VARIABLE"].speed_move|int %}
  
  SAVE_GCODE_STATE NAME=STATE_PARKFRONT
  {% if "xyz" not in printer.toolhead.homed_axes %}
    STATUS_HOMING
    G28
  {% endif %}
  G90   ; absolute positioning
  G0 X50 Y30 Z200 F{spd * 60}
  RESTORE_GCODE_STATE NAME=STATE_PARKFRONT
   
[gcode_macro PARKREAR]
gcode:
  {% set spd = printer["gcode_macro _CLIENT_VARIABLE"].speed_move|int %}
    
  SAVE_GCODE_STATE NAME=STATE_PARKREAR
  {% if "xyz" not in printer.toolhead.homed_axes %}
    STATUS_HOMING
    G28
  {% endif %}
  G90   ; absolute positioning
  G0 X10 Y280 Z250 F{spd * 60}
  RESTORE_GCODE_STATE NAME=STATE_PARKREAR
   
[gcode_macro PARKCENTER]
gcode:
  {% set spd = printer["gcode_macro _CLIENT_VARIABLE"].speed_move|int %}
  
  SAVE_GCODE_STATE NAME=STATE_PARKCENTER
  {% if "xyz" not in printer.toolhead.homed_axes %}
    STATUS_HOMING
    G28
  {% endif %}
  G90   ; absolute positioning
  G0 X150 Y150 Z140 F{spd * 60}
  RESTORE_GCODE_STATE NAME=STATE_PARKCENTER
   
[gcode_macro PARKBED]
gcode:
  {% set spd = printer["gcode_macro _CLIENT_VARIABLE"].speed_move|int %}
    
  SAVE_GCODE_STATE NAME=STATE_PARKBED
  {% if "xyz" not in printer.toolhead.homed_axes %}
    STATUS_HOMING
    G28
  {% endif %}
  G90   ; absolute positioning
  G0 X150 Y150 Z20 F{spd * 60}
  RESTORE_GCODE_STATE NAME=STATE_PARKBED