#####################################################################
# Quad Gantry Level
#####################################################################

[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing: _QUAD_GANTRY_LEVEL
description: Conform a moving, twistable gantry to the shape of a stationary bed with klicky automount
gcode:
  _CG28
  G90
  RESPOND MSG="Level the Gantry..."
  _QUAD_GANTRY_LEVEL
  G28 Z
  PARKBED
  
[delayed_gcode _CHECK_QGL]
gcode:
  # check that QGL ended with no error 
  {% if printer["gcode_macro QUAD_GANTRY_LEVEL"].qgl_run == 'true' %}
    # stop print if QGL stopped with failuare
    {action_respond_info("CANCEL PRINT BECAUSE OF QGL ERROR")}
    CANCEL_PRINT
    G0 Z30 F1800
    G0 X150 Y150 F18000
  {% endif %}

[gcode_macro G32]
gcode:
    BED_MESH_CLEAR
    G28
    QUAD_GANTRY_LEVEL
    G28 Z
    PARKBED