[gcode_macro Prompt_RunOut]
gcode:
      RESPOND TYPE=command MSG="action:prompt_begin Your printer has run out of filament!"
      RESPOND TYPE=command MSG="action:prompt_text WARNING: To prevent damage, the remaining filament needs to be pulled away from the run-out sensor before continuing. Then click >Swap Filament< to start the filament replacement process."
      RESPOND TYPE=command MSG="action:prompt_footer_button Swap Filament|FILAMENT_SWAP"
      RESPOND TYPE=command MSG="action:prompt_show"

[gcode_macro Prompt_Unloading]
gcode:
      RESPOND TYPE=command MSG="action:prompt_begin Unloading Filament"
      RESPOND TYPE=command MSG="action:prompt_text Your current filament is unloading. Please wait ..."
      RESPOND TYPE=command MSG="action:prompt_show"

[gcode_macro Prompt_Swap]
gcode:
      RESPOND TYPE=command MSG="action:prompt_begin Swap Filament"
      RESPOND TYPE=command MSG="action:prompt_text It's time to load in your new filament. Manually pull the old filament from the extruder and then push your new filament through until it reaches the hotend. Use >Load New< to bleed through 150mm of a new colour. Click >Finish Swap< to cancel and resume your print/state."
      RESPOND TYPE=command MSG="action:prompt_footer_button Load New|LOAD_NEW|primary"
      #RESPOND TYPE=command MSG="action:prompt_footer_button Purge Extra|PURGE_EXTRA|secondary"
      RESPOND TYPE=command MSG="action:prompt_footer_button Finish Swap|FINISH_SWAP|info"
      RESPOND TYPE=command MSG="action:prompt_show"

[gcode_macro Prompt_Purge]
gcode:
      RESPOND TYPE=command MSG="action:prompt_begin Purge Extra"
      RESPOND TYPE=command MSG="action:prompt_text Use >Purge Extra< to push out 20mm extra. Once the new colour is fully bled through, click >Finish Swap< to resume your print/state."
      #RESPOND TYPE=command MSG="action:prompt_footer_button Load New|LOAD_NEW|primary"
      RESPOND TYPE=command MSG="action:prompt_footer_button Purge Extra|PURGE_EXTRA|primary"
      RESPOND TYPE=command MSG="action:prompt_footer_button Finish Swap|FINISH_SWAP|info"
      RESPOND TYPE=command MSG="action:prompt_show"

[gcode_macro Prompt_SwapComplete]
gcode:
    RESPOND TYPE=command MSG="action:prompt_begin Filament swap complete!"
    RESPOND TYPE=command MSG="action:prompt_text Resuming print, please wait."
    RESPOND TYPE=command MSG="action:prompt_show"