#####################################################################
# 	Printer Variables
#####################################################################

[gcode_macro _CLIENT_VARIABLE]
variable_z_endstop_x      : 204.0 ; x position of the z endstop pin
variable_z_endstop_y      : 303.0 ; y position of the z endstop pin
variable_default_temp     : 200.0 ; # Default temperature to heat up if M600 issued in terminal
# Ignored if a target temperature is already set at launch ( M104 / M109 )
# or started within a printjob
variable_unload           : 75.0  ; Total mm to unload filament (bowden tube length)
variable_unload_speed     : 50.0  ; Speed at which filament is unloaded
variable_purge_x          : 290.0 ; x position for the purge bucket
variable_purge_y          : 306.0 ; y position for the purge bucket
variable_purge_z          : 10.0  ; z position for the purge bucket
variable_purge_dist       : 20.0  ; length of filament to purge for nozzle clean and filament swap
variable_preload_new      : 80.0  ; length of filament to preload a new filament
variable_preload_spd      : 20.0  ; Speed at which filament is preloaded until the hotend
variable_load_spd         : 4.0   ; Speed at which filament is loaded through the hotend for nozzle clean and filament swap
variable_load_new         : 50.0  ; mm to load filament (average length needed to purge out a totally different color) 
variable_start_x          : 270.0 ; x start position to wipe the nozzle; right side of the brush
variable_start_y          : 306.0 ; y start position to wipe the nozzle; middle of the brush
variable_start_z          : 3.5   ; z start position to wipe the nozzle
variable_wipe_dist        : -30.0 ; wipe distance
variable_wipe_qty         : 10    ; quantity of wipe moves
variable_wipe_spd         : 200.0 ; wipe speed in mm/s
variable_raise_distance   : 30.0  ; raise nozzle after wipe
### Start mainsail variables
variable_use_custom_pos   : True  ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 50.0  ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 50.0  ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 10.0  ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 15.0   ; the value to retract while PAUSE, CLEAN_NOZZLE and FILAMENT_SWAP
variable_cancel_retract   : 15.0  ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 35.0  ; retract speed in mm/s
variable_unretract        : 15.0   ; the value to unretract while RESUME
variable_speed_unretract  : 35.0  ; unretract speed in mm/s
variable_speed_hop        : 15.0  ; z move speed in mm/s
variable_speed_move       : 300.0 ; move speed in mm/s
variable_park_at_cancel   : True  ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : 230.0 ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : 230.0 ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
#variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     : 3600  ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
variable_runout_sensor    : "filament_switch_sensor switch_sensor"    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
##                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
#variable_user_pause_macro : ""    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
#variable_user_resume_macro: ""    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
variable_user_cancel_macro: "SFS_DISABLE"    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:


